<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" formControlName="left" ngbButton> Left
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" formControlName="middle" ngbButton> Midle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" formControlName="right" ngbButton> Right
  </label>
</div>

<p *ngFor="let alert of alerts" >
  <ngb-alert [type]='alert.type' (closed)="close(alert)">{{alert.message}}</ngb-alert> 
</p>

<button type="button" class="btn btn-primary" (click)='reset()'>Восстановить</button>